// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Override default primary color
$primary: #6450ab;

//Theme variables
$purpleMain: #6450ab;
$lighterPurple: #7661bf;
$darkerPurple: #46377c;

$white: #eeeeee;
$dirtyWhite: #fcf6f5ff;
