.chat-page {
    height: 10vh;
    margin-right: 0px;
  
  .chat-room {
    background: $purpleMain;
    color: $white;
    text-align: center;
    height: calc(100vh - 55px);

    .space-between-new-message-and-first-user{
      padding: 10px 0;
    }

    .chat-room-new-room-button {
        color: #ffed4a;
        font-size: 26px;
        font-weight: 600;
        cursor: pointer;
        line-height: 90px;
      }
      
      li {
        font-size: 24px;
        padding: 8px 0;
        cursor: pointer;
        background: $lighterPurple;
      }
      .active {
        font-weight: bold;
        background: $darkerPurple;
      }

  }
  
  .chat-message {
    background: $dirtyWhite;

    .message-applet {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: calc(100vh - 75px);

        .all-messages {
          overflow-y: scroll;

          .message-box {
            padding: 20px 0;
            margin-right: 100px;

            .auth-user-message {
              background: $purpleMain;
              text-align: right;
              font-size: 18px;
              border-radius: 10px;
              padding: 10px;
              color: $white;
            }
            .other-users-message {
              background: #61bfb9;
              text-align: left;
              font-size: 18px;
              border-radius: 10px;
              padding: 10px;
              color: $white;
            }
          }
        }

        .send-message-box {
          display: flex;
          margin: 10px 114px 0 0;
      
          .new-message-input {
            flex-grow: 1;
            font-size: 18px;
            height: 39px;
            flex-grow: 1;
            border-radius: 10px;
            margin-right: 20px;
            padding-left: 5px;
            border: 2px solid $lighterPurple;
          }
        }
      }
  }



  .new-chat-modal-found-users-table{
    max-height: 270px;
  }

  .new-chat-modal-selected-user{
    color: $white;
    background-color: $purpleMain;
    padding: 7px;
    display: inline-block;
    cursor: alias;
    border: 1px solid transparent;
    margin: 4px;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    .badge-remove-selected-user{
      cursor: pointer;
    }
  }

 
  
}
